@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #1e441e;
  --secondary-color: #f5f5f5;
  --tertiary-color: #fbb13c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}


